{% extends 'main/base.html' %}

{% block exercise_1_answer %}
<div class="container">
    <div class="row d-flex align-items-center vh-100">
        <div class="offset-3 col-6">
            <div class="table-scroll">
                <table>
                    <thead>
                        <tr>
                            <th>Имена</th>
                        </tr>
                    </thead>
                </table>

                <div class="table-scroll-body content">
                    <table>
                        <tbody>
                            {% for name in sort[0]: %}
                            <tr >
                                <td>{{ name }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <p class="text-center result_ex_1">{{ sort[1] }}</p>

            <div class="d-flex justify-content-center mt-3">
                <a href="/">
                    <button class="button_to_main_page">На главную страницу</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}